.. meta::bd7a9af7f6fd7be1097b238cf4e9fc2176cae017a2fdd9380ab97b3a8c1cc16e5eb9d9d91dfdc6141dd1a2e34ed6acb530f6362665614995f5e52b9e20f57176

:orphan:

.. title:: Madgine - Doxygen Documentation: VkSparseImageMemoryRequirements Struct Reference

VkSparseImageMemoryRequirements Struct Reference
================================================

.. container:: doxygen-content

   
   .. raw:: html
     :file: struct_vk_sparse_image_memory_requirements.html
