.. meta::d780805395d76e17ddcc365152c6facfc0643fc859ce1dcb3b49f759dfe21f01304d720144b9dfc55df616e6f0c674529b3eaa36beedcd8cdf5460bc92df4972

:orphan:

.. title:: Madgine - Doxygen Documentation: VkSparseImageMemoryRequirements Struct Reference

VkSparseImageMemoryRequirements Struct Reference
================================================

.. container:: doxygen-content

   
   .. raw:: html
     :file: struct_vk_sparse_image_memory_requirements.html
