.. meta::4aa20929d9704293c98b57838f59762f60ac68f3325a4f49cd585f58c660d774c7ce8d7f21bdb2c4401c910e5bae46cb25c35a78ab1f353b5b6a2837bcf19f23

:orphan:

.. title:: Madgine - Doxygen Documentation: VkMemoryRequirements Struct Reference

VkMemoryRequirements Struct Reference
=====================================

.. container:: doxygen-content

   
   .. raw:: html
     :file: struct_vk_memory_requirements.html
