.. meta::ba4dfeaf3cb83857c9d355d0bb9bb0538eeb678a6d091a9f9f55408107a1f0ab3540df29bfe6dd08d29673fed990c476b270b2bf202e9332282eb9e856f13e01

:orphan:

.. title:: Madgine - Doxygen Documentation: Member List

Member List
===========

.. container:: doxygen-content

   
   .. raw:: html
     :file: struct_vk_sparse_image_memory_requirements-members.html
