.. meta::8d8277214d32a9d109c004ab113d765fedcaf1f88c35eed26ac5de03124f6cc15050232991cf875391a92dcc66f77e2973c3871fc737015decf714aab1eb4a45

:orphan:

.. title:: Madgine - Doxygen Documentation: VkMemoryRequirements Struct Reference

VkMemoryRequirements Struct Reference
=====================================

.. container:: doxygen-content

   
   .. raw:: html
     :file: struct_vk_memory_requirements.html
