.. meta::4264895d3a46670c4fa8756459ec72c0781ef9f7687701977cf48d5f54f79ae312ab7e211f11556d84b5e18762319babbd3cc39741a50174fbc57d95368e4c6c

:orphan:

.. title:: Madgine - Doxygen Documentation: Member List

Member List
===========

.. container:: doxygen-content

   
   .. raw:: html
     :file: struct_vk_sparse_image_memory_requirements-members.html
