.. meta::c1b1dbaed15573f9f4632210cb4f009dbc05a388335040f5cb6c8d40cd5ed709a412949447820456723ddae0becb93db8b2ce8d629caf79a80a55c658908c88d

:orphan:

.. title:: Madgine - Doxygen Documentation: VkMemoryRequirements Struct Reference

VkMemoryRequirements Struct Reference
=====================================

.. container:: doxygen-content

   
   .. raw:: html
     :file: struct_vk_memory_requirements.html
