.. meta::3a1850d1ccd0effe0ae6930b5c7ca3de14227f2f48de8ad01e8b30e1e96415efb56555886e2023a3fb000b532e02c628b0781069959b58b190883d8a2563d633

:orphan:

.. title:: Madgine - Doxygen Documentation: Member List

Member List
===========

.. container:: doxygen-content

   
   .. raw:: html
     :file: struct_vk_sparse_image_memory_requirements-members.html
