.. meta::8a5c9054a4c51e57fe04a78794a5fc53d8f2d5b156527298a4f98975c3cd9d0edee75ffe340a953fe72cbf3b80253574337f87151ec7ae55d6cff1fcbded3c02

:orphan:

.. title:: Madgine - Doxygen Documentation: VkSparseImageMemoryRequirements Struct Reference

VkSparseImageMemoryRequirements Struct Reference
================================================

.. container:: doxygen-content

   
   .. raw:: html
     :file: struct_vk_sparse_image_memory_requirements.html
